div {
    background: linear-gradient(to right, gray, black);
    width: 500px;
    height: 50px;
}

.Box1 {
    background: linear-gradient(to right, green, black);
}

#Box2 {
    background: red;
}

.Box {
    background: yellow;
}