body {
    max-width: 420px;
    margin: auto;
}
.container {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
font-size: 2rem;
}
h2 {
    color: darkred
}
.board {
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(9,46px);
    grid-template-columns: repeat(9, 46px);
}
.digits {
    display: flex;
    margin-top: 6px;
    border: 2px solid black;
    background-color: burlywood;
}
.tile {
    width: 46px;
    height: 46px;
    border: 1px solid lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem
}
.tile:hover {
    border: 1px solid gray
}
.digit {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem
}
.btn {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.btn:hover {
    background-color:aliceblue;
    transform: scale(1.05);
}
.selected {
    background-color: gray;
}
.tile-start {
    background-color: whitesmoke;
}
.horizontal-seperation {
    border-bottom: 1px solid black;
}
.vertical-seperation {
    border-right: 1px solid black;
}