@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Work+Sans&display=swap");
@import 'variables';
@import 'utilities';
@import 'keyframes';

body {
    overflow-x: hidden;
}

// background not fixed???
.mainbg {
    background: linear-gradient(to right, $primary, $secondary, $primary),
        url("./assets/bg.jpg") no-repeat center center / cover;
    background-attachment: fixed;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: blur(8px);
    transform: scale(1.1)
}

header {
    max-width: 1180px;
    margin: auto;
    @include font(600, 13px);
    @include flex(space-between, center);
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 200px 5px;
    position: relative;

    .header__logo {
        margin: 30px 20px;
        padding: 10px 10px;

        a {
            @include font(700, 25px);
        }

        @media (min-width:$desktop) {
            order: 1;
        }
    }


    #header__menuBtn {
        @include flex();
        flex-direction: column;
        margin-left: 19px;
        padding: 14px;
        cursor: pointer;


        .menuBtn_bar1,
        .menuBtn_bar2,
        .menuBtn_bar3 {
            position: absolute;
            background-color: $Dark;
            border-radius: 5px;
            width: 35px;
            height: 5px;
            top: 50px;
            left: 30px;

            @media (min-width: $desktop) {
                display: none;
            }
        }

        #header__menu {
            @include flex;
            flex-direction: column;
            background-color: $UIColor;
            position: absolute;
            top: 105px;
            left: -100%;
            width: 100%;
            height: 50vh;
            border-radius: 5px 200px;
            z-index: 5;

            li {
                margin: 10px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }

                a {
                    padding: 10px;
                    color: $Dark;
                    font-size: 16px;
                }
            }

            @media (min-width: $desktop) {
                top: 35px;
                left: auto;
                display: flex;
                height: auto;
                width: auto;
                background: 0;
                flex-direction: row;
                animation: none;
            }
        }

        @media (min-width:$desktop) {
            order: 2;
        }
    }

    #header__menuSign {
        @include flex;
        @include font(600, 16px);
        order: 3;
        margin-top: 20px;

        li {
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            a {
                color: $Dark;
            }

            &:nth-of-type(2) {
                @include inbox;
                margin-right: 30px;
            }
        }

        @media (min-width: $tablet) {
            margin-top: 0;

            li {
                margin-left: 10px;
            }
        }

        @media (min-width:$desktop) {
            margin: 30px 30px;
            order: 3;
        }
    }
}


.landing {
    max-width: 1180px;
    margin: auto;

    .landing__container {
        float: right;

        .search {
            max-width: 1180px;
            margin: auto;
            @include flex(center, flex-start);
            flex-direction: column;

            @media (max-width: $stickSearch) {
                display: block;

                .search_container {
                    .search_input {
                        width: 100%;
                    }

                    .search_button {
                        width: 50%;
                    }
                }
            }

            .search_container {
                display: flex;
                position: relative;
                margin-top: 175px;


                .search_icon {
                    position: absolute;
                    top: 1.9em;
                    left: 1.5em;
                    width: 1.1em;
                    height: 1.1em;
                }

                .search_input {
                    @include font(400, 15px);
                    border: none;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding: 30px 0 32px 50px;
                    width: 365px;
                    outline: 0;
                    clear: both;

                    &::placeholder {
                        padding: 30px 160px 32px 0;
                        color: $Fade;
                    }

                }

                .search_button {
                    @include inbox;
                    @include font(600, 15px);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 15px 33px;
                    cursor: pointer;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        font-size: 16px;
                    }
                }
            }

            .search_locationCards {
                max-width: 800px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: .5rem;
                padding: 10px;
                background-color: #1f373d49;
                border: 2px solid $Dark;

                .search_locationCard {
                    display: block;
                    @include font(600, 16px);
                    cursor: pointer;
                    border: 1px solid black;
                    background-color: $UIColor;
                    padding: 1rem;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }

                    .name {
                        white-space: nowrap;
                    }

                    .location {
                        margin: .25rem auto;
                        font-size: 13px;
                        color: $Fade;
                    }

                    img {
                        width: 100%;
                    }
                }

                p {
                    @include font(600, 13px);
                    color: $UIColor;
                }
            }
        }

        a {
            @include font(600, 12px);
        }

        .landing__sheet {
            position: relative;
            background: linear-gradient(to right, $primary, $secondary, $primary), url('./assets/menubg.jpg') no-repeat center center / cover;
            ;
            background-attachment: fixed;
            max-width: 100%;
            min-height: 600px;
        }

        .landing__heading {
            @include font(700, 45px);
        }

        .landing__scrollDown {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding: 10px;
            color: $Fade;
        }
    }
}