// Breakpoints
$mobile: 375px;
$stickSearch: 630px;
$tablet: 768px;
$desktop: 1024px;
$desktopPlus: 1180px;
// Bg Colors
$primary: hsla(0, 0%, 0%, 0.164);
$secondary: hsla(0, 0%, 100%, 0.363);
// Colors
$Yellow: #ffcc01;
$Cloud: #b1d7e8;
$Dark: #1f373d;
$Fade: #919eb1;
$Boxbg: #f6f5f4;
$UIColor: #ffdd56;
// Font