@media (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    list-style-type: none;
  }
  header .header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #1f373d;
    color: #1f373d;
  }
  header .header__nav-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__nav-center div {
    padding: 0 17px;
  }
  header .header__nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__nav-right .header__nav-right--inbox {
    width: 145px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffcc01;
    text-align: center;
    padding-top: 10px;
    margin-left: 11px;
  }
  .landing {
    margin: auto;
    max-width: 1200px;
    position: relative;
  }
  .landing .landing__slideContainer {
    height: 630px;
    position: relative;
  }
  .landing .landing__slideContainer .landing__slideContainer-cheer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 62px;
    color: #1f373d;
    width: 600px;
    letter-spacing: -2px;
    line-height: 78px;
    padding-top: 115px;
  }
  .landing .landing__slideContainer .landing__slideContainer-sheet {
    background-color: #b1d7e8;
    width: 960px;
    height: 630px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .landing .landing__slideContainer .landing__search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 485px;
    height: 70px;
    border-radius: 5px;
    position: relative;
    margin-top: 65px;
  }
  .landing .landing__slideContainer .landing__search-container .search_icon {
    position: absolute;
    top: 27px;
  }
  .landing .landing__slideContainer .landing__search-container .search_input {
    width: 365px;
    height: 70px;
    border: none;
  }
  .landing .landing__slideContainer .landing__search-container .search_input::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f373d;
    color: #919eb1;
    padding-left: 30px;
  }
  .landing .landing__slideContainer .landing__search-container .search_input:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f373d;
    color: #919eb1;
    padding-left: 30px;
  }
  .landing .landing__slideContainer .landing__search-container .search_input::-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f373d;
    color: #919eb1;
    padding-left: 30px;
  }
  .landing .landing__slideContainer .landing__search-container .search_input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1f373d;
    color: #919eb1;
    padding-left: 30px;
  }
  .landing .landing__slideContainer .landing__search-container .search_button {
    width: 116px;
    height: 70px;
    border: none;
    background-color: #ffcc01;
  }
  .landing .landing__slideContainer .landing__slideContainer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1f373d;
    background-color: #ffcc01;
    width: 590px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .landing .landing__slideContainer .landing__slideContainer-info img {
    margin-right: 28px;
  }
  .landing .landing__scrollDown {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    color: #919eb1;
    text-decoration: none;
  }
  .landing .landing__scrollDown img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-bottom: 10px;
  }
}
