@import 'mixins';
@import 'variables';

@media (min-width: 1200px) {
    header {
        @include flex(space-between, center);
        max-width: 1200px;
        margin: 40px auto;
        list-style-type: none;

        .header__logo {
            @include font(600, 25px);
            color: $Dark;
        }

        .header__nav-center {
            @include flex;

            div {
                padding: 0 17px;
            }

        }

        .header__nav-right {
            @include flex;

            .header__nav-right--inbox {
                width: 145px;
                height: 40px;
                border-radius: 5px;
                background-color: $Yellow;
                text-align: center;
                padding-top: 10px;
                margin-left: 11px
            }
        }
    }

    .landing {
        margin: auto;
        max-width: 1200px;
        position: relative;

        .landing__slideContainer {
            height: 630px;
            position: relative;

            .landing__slideContainer-cheer {
                @include font(700, 62px);
                width: 600px;
                letter-spacing: -2px;
                line-height: 78px;
                padding-top: 115px;
            }

            .landing__slideContainer-sheet {
                background-color: $Cloud;
                width: 960px;
                height: 630px;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
            }

            .landing__search-container {
                display: flex;
                width: 485px;
                height: 70px;
                border-radius: 5px;
                position: relative;
                margin-top: 65px;

                .search_icon {
                    position: absolute;
                    top: 27px;
                }

                .search_input {
                    width: 365px;
                    height: 70px;
                    border: none;

                    &::placeholder {
                        @include font(400, 15px);
                        color: $Fade;
                        padding-left: 30px;
                    }
                }

                .search_button {
                    width: 116px;
                    height: 70px;
                    border: none;
                    background-color: $Yellow;
                }
            }

            .landing__slideContainer-info {
                @include flex(space-around, center);
                @include font(700, 18px);
                background-color: $Yellow;
                width: 590px;
                height: 80px;
                position: absolute;
                bottom: 0;
                right: 0;

                img {
                    margin-right: 28px;
                }
            }
        }

        .landing__scrollDown {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            position: absolute;
            bottom: 0;
            color: $Fade;
            text-decoration: none;

            img {
                transform: rotate(180deg);
                margin-bottom: 10px;
            }
        }
    }
}