/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

.TopPage {
    background-image: url(../assets/Landingbg.png);
}

header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 52px 56px 0 53px;
    margin: auto;
    /* z-index: 2; */
}
.logo {
    width: 263px;
    height: 58px;
}
.contacts-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 26px;
    padding-right: 122px;
}
.contacts-container img {
    margin-right: 8px;
}
.contacts-container div {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Montserrat";
    letter-spacing: 1px;
}
.mainNav a {
    margin-right: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 4px;
    color: #3d2514;
}
.mainNav a:nth-of-type(4) {
    padding-right: 72px;
}