/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

.landing {
    max-width: 1440px;
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 96px 57px;  
}
.dashed, h2, h4 {
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    margin-bottom: 24px;
}
.dashed {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    border: 2px dashed #3d2514;
    padding: 12px 18px 10px;
}
.landing h2 {
    font-weight: 400;
    font-size: 114px;
    text-shadow: 4px 4.5px white;
}
.landing h4 {
    font-weight: 400;
    font-size: 56px;
    text-shadow: 4px 4px white; 
}
.burger-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.priceCircle {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: #bf2222;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    width: 152px;
    height: 152px;
    color: #fff;
    border: 2px dashed #fff;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.priceTop span:nth-of-type(1) {
    font-size: 70px;
}
.priceTop span:nth-of-type(2) {
    font-size: 32px;
}
.price div:nth-child(2) {
    font-size: 32px;
    letter-spacing: 10px;
    margin-left: 14px;
}