@mixin flex($horizontal: center, $vertical: center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;

}

@mixin font($bold: 400, $fsize: 13px) {
    font-family: 'Montserrat', sans-serif;
    font-weight: $bold;
    font-size: $fsize;
    color: $Dark;
}
