.cube {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 154px;
    height: 154px;
   /* float Stick to ... to leave no spaces*/
}

.inline {
    float: right;
}

.block {
    float: left;
}
/*Fusing borders get subtracted and become 1px, not fusing borders stay 2px due to highest amount of border px*/
.border {
    box-sizing: border-box; 
    border: 2px solid black;
}
.red {
    background: red;
    width: 100px;
    height: 50px;
}
.blue {
    background: blue;
    width: 50px;
    height: 100px;   /*height 100 */  
}
.green {
    background: green;
    width: 50px;
    height: 100px;     /*height 100 */
}
.gray {
    background: gray;
    width: 50px;
    height: 50px;
}
.yellow {
    background: yellow;
    width: 100px;
    height: 50px;
}

.tekstas {
    display: block;
    background: blue;
    color: white;
    justify-content: center;
    text-align: center;
    margin: 20%;
}
